@import 'shared/variables.css';

.header {
  position: relative;
  width: 100%;
  padding: 2rem 1rem;
  font-weight: 600;
  line-height: 1.25;
  background-color: transparent;
  color: var(--white);
  text-align: center;
}

.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color(var(--black) alpha(0.75));
  }
}

.image {
  width: 100%;
  height: 100%;
  filter: blur(5px);
  object-fit: cover;
  object-position: center center;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--cyan);
  }
}

.date {
  padding: 0.5em 0;
}
